.news {
    width: 870px;
}

.post {
    float: left;
    width: 423px;
    margin: 0 6px 12px 6px;
    background-color: #F3F2ED;
    transition: box-shadow linear 0.2s;
}

.post:hover {
    -moz-box-shadow: 3px 3px 5px 0px #000000;
    -webkit-box-shadow: 3px 3px 5px 0px #000000;
    -o-box-shadow: 3px 3px 5px 0px #000000;
    box-shadow: 3px 3px 5px 0px #000000;
}

.post .post-image {
    width: 423px;
    height: 237px;
    background-color: #000;
}

.post .post-image img {
    width: 423px;
    height: 237px;
    border-bottom: 4px solid;
}

.post.info .post-image img {
    border-bottom-color: #F28E00;
}

.post.info .post-info .post-date a {
    color: #F28E00;
}

.post.event .post-image img {
    border-bottom-color: #0257A9;
}

.post.event .post-info .post-date a {
    color: #0257A9;
}

.post.dev .post-image img {
    border-bottom-color: #97A800;
}

.post.dev .post-info .post-date a {
    color: #97A800;
}

.post.other .post-image img {
    border-bottom-color: #383737;;
}

.post.other .post-info .post-date a {
    color: #383737;
}

.post .post-info {
    height: 66px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 5px;
}

.post .post-info .post-title a {
    color: #422F14;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.post .post-info .post-title a:hover {
    color: #917455;
}

.post .post-info .post-date {
    font-size: 13px;
}

.post .post-info .post-date a {
    font-weight: bold;
}

.post .post-content {
    height: 144px;
    overflow: hidden;
    padding: 10px;
    border-top: 1px dashed #B1AC9C;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.post .post-ellipsis {
    display: block;
    height: 23px;
    width: 100%;
    margin-top: -23px;
    z-index: 2;
    position: relative;
    background: -webkit-linear-gradient(rgba(248, 248, 248, 0) 0px, #F8F8F8 80%, #F8F8F8 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(rgba(248, 248, 248, 0) 0px, #F8F8F8 80%, #F8F8F8 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(rgba(248, 248, 248, 0) 0px, #F8F8F8 80%, #F8F8F8 100%) repeat scroll 0% 0% transparent;
}

.post .post-details {
    height: 32px;
    border-top: 1px solid #DDDAC8;
}

.content article {
    padding: 37px 75px;
}

.content article img.big-image {
    margin: 37px 0;
}
