body, div {
    margin: 0 auto;
    padding: 0;
}

body {
    background: url("../imgs/backgrounds/dofus5.jpg") no-repeat scroll center top #180A01;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border: 0px none;
}

p {
    margin: 0;
}

a {
    color: #23a9b5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    overflow: visible;
}

.container {
    width: 1170px;
    height: auto;
    overflow: auto;
}

.container:after {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.disabled {
    opacity: .4;
}

.hr {
    border-right: 0px none;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #C9C6BB;
    border-image: none;
    height: 0px;
    margin: 20px 0;
    display: block;
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue'),
         url('../fonts/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue.otf') format('truetype');
}

/*-----------------------------------------------*/
/*-------------------HEADER----------------------*/
/*-----------------------------------------------*/

#header {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 1200 !important;
    position: relative;
}

#header li {
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #4A4A4A;
    padding: 10px 20px;
    color: #fff;
    display: inline;
    cursor: pointer;
    transition: color linear 0.4s;
    z-index: 1500 !important;
}

#header li:first-child{
    /*border-left: 1px solid #4A4A4A;*/
}

#header li:last-child {
    border-right: none;
}

#header li:hover {
    color: #07FEEC;
}

#header #logo {
    width: 250px;
    height: 130px;
    background: url("../imgs/erezia.png") no-repeat;
    background-size: 250px 130px;
    z-index: 1500 !important;
    position: relative;
    margin:-41px auto 0 auto;
    float: left;
}

#header #menu {
    width: 900px;
    height: 70px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding-top: 5px;
    list-style: none;
    text-align: center;
}

#header #menu a {
    color: #fff;
}

#header #menu a:hover {
    text-decoration: none;
    color: #07FEEC;
}

#header #menu .box {
    width: 325px;
    padding: 0;
}

/*-----------------------------------------------*/
/*-------------------CAROUSEL--------------------*/
/*-----------------------------------------------*/

#carousel {
    width: 1170px;
    height: 490px;
    margin-top: -70px;
}

.video {
    z-index: 1 !important;
    position: relative;
}

/*-----------------------------------------------*/
/*--------------------MAIN-----------------------*/
/*-----------------------------------------------*/

#main {
    padding: 10px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.30);
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#play {
    width: 150px;
    position: absolute;
    top: 410px;
    left: 50%;
    text-transform: uppercase;
    margin-left: 400px;
    padding: 5px 0 5px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow:0 2px 2px 0 #000;
    background:#f7e199;
    background:-webkit-linear-gradient(#f7e199 1%, #f9db77 7%, #fac612 14%, #f19e12 41%, #f19e12 52%, #f19e12 88%, #fac612 99%);
    background:-o-linear-gradient(#f7e199 1%, #f9db77 7%, #fac612 14%, #f19e12 41%, #f19e12 52%, #f19e12 88%, #fac612 99%);
    background:linear-gradient(#f7e199 1%, #f9db77 7%, #fac612 14%, #f19e12 41%, #f19e12 52%, #f19e12 88%, #fac612 99%);
    z-index: 1500 !important;
}

#play:hover {
    background:#fbec95;
    background:-webkit-linear-gradient(#fbec95 1%, #fce874 7%, #fcdd10 14%, #f8b50c 41%, #f8b50c 52%, #f8b50c 88%, #fcdd10 99%);
    background:-o-linear-gradient(#fbec95 1%, #fce874 7%, #fcdd10 14%, #f8b50c 41%, #f8b50c 52%, #f8b50c 88%, #fcdd10 99%);
    background:linear-gradient(#fbec95 1%, #fce874 7%, #fcdd10 14%, #f8b50c 41%, #f8b50c 52%, #f8b50c 88%, #fcdd10 99%);
}

#play a {
    padding: 8px 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 0px 1px 1px #333;
    color: #fff;
    text-decoration: none;
    line-height: 55px;
    font-size: 48px;
}

/*-----------------------------------------------*/
/*------------------CONTENT----------------------*/
/*-----------------------------------------------*/

.content,
.panel {
    -moz-box-shadow: 0px 0px 2px 0px #333;
    -webkit-box-shadow: 0px 0px 2px 0px #333;
    -o-box-shadow: 0px 0px 2px 0px #333;
    box-shadow: 0px 0px 2px 0px #333;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=NaN, Strength=2);
}

.content {
    background: none repeat scroll 0% 0% #F8F8F6;
    width: 870px;
    margin-bottom: 10px;
    border-bottom-color: #B1B1B1 !important;
    border-bottom: 1px solid;
}

.content:last-child {
    margin-bottom: 0px;
}

.content .content-title {
    background: url("../imgs/h1.png") no-repeat scroll left top #23a9b5;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 7px 0px 5px 1px;
    border-bottom-color: #797979 !important;
    border-bottom: 1px solid;
    margin: 0;
    text-shadow: 0px 2px 2px #888;
    min-height: 64px;
}

.content .content-title .subtitle {
    color: #28170E;
    font-size: 15px;
    font-weight: 500;
    font-style:normal;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    display: block;
}

.content .content-title .subtitle span {
    color: #fff;
}

.content .content-title .icon-big {
    margin: -8px 20px 0 0;
}

/*-----------------------------------------------*/
/*--------------------MENU-----------------------*/
/*-----------------------------------------------*/

.panel {
    background-color: #fbfae0;
    width: 270px;
    margin-bottom: 10px;
    border-bottom-color: #B1B1B1 !important;
    border-bottom: 1px solid;
}

.panel:last-child {
    margin-bottom: 0px;
}

.panel .panel-title {
    background: url('../imgs/simple-title.png') no-repeat scroll left top / 60px auto #23a9b5;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding: 7px 0px 5px 0px;
    border-bottom-color: #797979 !important;
    border-bottom: 1px solid;
    min-height: 50px;
    text-shadow: 0px 2px 2px #888;
}

.panel .panel-title .icon-med,
.panel .panel-title .icon-medplus {
    margin: -8px 20px 0 4px;
}

.panel .level-1 {
    background: none repeat scroll 0% 0% #E4E0D7;
    border-color: #b1b1b1 !important;;
    border-bottom: 1px solid;
    border-top: 1px solid;
    overflow: auto;
}

.panel .level-1:first-child {
    border-top: none;
}

.panel .level-1:before {
    background: url("../imgs/sprite_common.png");
    background-position: -5px -1px;
    background-repeat: no-repeat;
    width: 10px;
    height: 24px;
    content: " ";
    float: left;
}

.panel .level-1 a.title {
    color: #28170E;
    padding: 0 0 0 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    float: left;
}

.panel ul.level-2 {
    margin: 0;
    padding: 0;
}

.panel ul.level-2 li {
    border-color: #b1b1b1 !important;
    border-bottom: 1px dashed;
    list-style: outside none none;
    background: none repeat scroll 0% 0% #F3F2ED;
    color: #362712;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0.8rem 1.5em !important;
    cursor: pointer;
    transition: background linear 0.2s;
}

.panel ul.level-2 li:hover {
    background-color: #e4e0d7;
}

.panel ul.level-2 li:last-child {
    border-bottom: none;
}

.panel ul.level-2 li img {
    margin-right: 0.5rem;
    width: 35px;
    height: 35px;
}

.panel.blue {
    background: url("../imgs/blue-bg.jpg") repeat scroll 0px 0px transparent;
    border-bottom-color: #064E68 !important;
}

.panel.blue .panel-title {
    background: url('../imgs/blue-title.png') no-repeat scroll left top / 60px auto #064E68;
    border-bottom-color: #21A3D3 !important;
}

.panel .panel-content.login {
    padding: 5px;
}

.panel .panel-content.login .form-group {
    margin-bottom: 5px;
}

.panel .panel-content.login label {
    color: #fff;
}

.panel .panel-content.login .btn-medium {
    margin: 10px 0;
}

.panel .panel-content.login .block-submit input {
    background: -webkit-linear-gradient(#99d8f7 1%, #78cffa 7%, #11acfa 14%, #11a0f2 41%, #11a0f2 52%, #11a0f2 88%, #11cbfa 99%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(#99d8f7 1%, #78cffa 7%, #11acfa 14%, #11a0f2 41%, #11a0f2 52%, #11a0f2 88%, #11cbfa 99%) repeat scroll 0% 0% transparent;
    background: linear-gradient(#99d8f7 1%, #78cffa 7%, #11acfa 14%, #11a0f2 41%, #11a0f2 52%, #11a0f2 88%, #11cbfa 99%) repeat scroll 0% 0% transparent;
}

.panel .panel-content.login .block-submit input:hover
{
    background: -webkit-linear-gradient(#99f7f6 1%, #78faf8 7%, #11faf6 14%, #11cbf2 41%, #11cbf2 52%, #11cbf2 88%, #11faf6 99%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(#99f7f6 1%, #78faf8 7%, #11faf6 14%, #11cbf2 41%, #11cbf2 52%, #11cbf2 88%, #11faf6 99%) repeat scroll 0% 0% transparent;
    background: linear-gradient(#99f7f6 1%, #78faf8 7%, #11faf6 14%, #11cbf2 41%, #11cbf2 52%, #11cbf2 88%, #11faf6 99%) repeat scroll 0% 0% transparent;
}

.panel .panel-content.account {
    overflow: auto;
    padding: 5px;
}

.panel .panel-content.account a {
    color: #4fcdf2;
}

.panel .panel-content.account .account-avatar {
    float: left;
}

.panel .panel-content.account .account-avatar img {
    border: 2px solid #21A3D3;
    width: 100px;
    height: 100px;
}

.panel .panel-content.account .account-details {
    margin-left: 10px;
    float: left;
}

.panel .panel-content.account .account-name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 2px 2px #888;
}

.panel .panel-content.account .account-info {
    font-size: 13px;
    color: #fff;
}

.panel .panel-content.account .logout {
    display: inline-block;
    background: none repeat scroll 0% 0% #EDEDED;
    border-color: #B1B1B1;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.panel .panel-content.account .logout:hover {
    background-color: #fff;
}

.panel .panel-content.account .logout a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin: 8px;
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #7F7B68;
}

div.title {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #28170E;
    margin-bottom: 10px;
}

.title span.picto {
    background-position: -148px 0px;
    margin-right: 0.2em;
    padding: 0px 0.2em;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: auto;
    height: 28px;
    line-height: 28px;
}

.btn-aside {
    display: block;
    margin-bottom: 12px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 19px;
    padding: 10px 12px;
    padding-left: 65px;
    line-height: 23px;
    text-decoration: none;
    position: relative;
    background: #f2ede4;
    box-shadow: 0 0 20px #907e5d inset;
    color: #7c7367;
    cursor: pointer;
}

.btn-aside:hover {
    box-shadow: 0 0 10px #907e5d inset;
    text-decoration: none;
}

.btn-aside:before {
    content: " ";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50px;
    height: 60px;
    background: url("../imgs/community-sprites.png") no-repeat;
    background-size: 50px auto;
}

.btn-aside em {
    font-size: 26px;
    font-style: normal;
    position: relative;
    color: #97a800;
}

.btn-vote:before {
    background-position: 0 -2492px;
}

.btn-shop:before {
    background-position: 0 -2228px;
}

/*-----------------------------------------------*/
/*---------------------OTHER---------------------*/
/*-----------------------------------------------*/

.object-illu {
    text-align: center;
    border: 4px inset;
    margin-bottom: 6px;
    border-top-color: #b1ac9c;
    border-right-color: #c9c6bb;
    border-bottom-color: #dfdbcd;
    border-left-color: #c9c6bb;
    background: url('../imgs/bg-item.jpg') center center no-repeat;
    background-size: cover;
}

.object-illu img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.masked {
    overflow: hidden !important;
}

.mask-relative {
    position: relative !important;
}

.loadmask {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(168,168,168,.6);
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loading {
    display: none;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 50%;
    top: 170px;
    z-index: 100;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); opacity: 0.4; }
    50%  { -moz-transform: rotate(180deg); opacity: 1; }
    to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); opacity: 0.4; }
    50%  { -ms-transform: rotate(180deg); opacity: 1; }
    to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin {
    from { -o-transform: rotate(0deg); opacity: 0.4; }
    50%  { -o-transform: rotate(180deg); opacity: 1; }
    to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin {
    from { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1; }
    to   { transform: rotate(360deg); opacity: 0.2; }
}

/*-----------------------------------------------*/
/*---------------------FORM----------------------*/
/*-----------------------------------------------*/

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    color: #735C3E;
    padding: 5px;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    display: inline-block;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #C7C3B4;
    border-radius: 0px;
    padding: 6px 12px;
    height: 45px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-group input:focus {
    background-color: #EDEAE0;
}

.form-group input[type="text"].has-error,
.form-group input[type="password"].has-error,
.form-group input[type="date"].has-error,
.form-group input[type="datetime-local"].has-error,
.form-group input[type="email"].has-error {
    box-shadow: 0px 0px 2px 1px #EF3115;
    background-color: #E4442C;
    border-color: #E4442C;
    color: #FFF;
}

.form-group input.has-error::-webkit-input-placeholder {
    color: white;
}

.form-group input.has-error:-moz-placeholder {
    color: white;
}

.form-group input.has-error::-moz-placeholder {
    color: white;
}

.form-group input.has-error:-ms-input-placeholder {
    color: white;
}

.form-group input.has-error:focus {
    background-color: #E4442C;
}

.form-group #passwordpower {
    background-image: url("../imgs/passwordpower.png");
    height: 35px;
    position: absolute;
    right: 10px;
    top: 36px;
    width: 17px;
}

.form-group #passwordpower.low {
    background-position: -34px 0px;
}

.form-group #passwordpower.medium {
    background-position: -51px 0px;
}

.form-group #passwordpower.good {
    background-position: -68px 0px;
}

.form-group #passwordpower.high {
    background-position: -85px 0px;
}

.form-group .checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.form-group.captcha {
    display: inline-block;
    width: 304px;
    height: 78px;
    margin-left: 0px !important;
}

.block-submit {
    /*text-align: center;*/
}

.menu-lost-login {
    font-size: 12px;
    margin-top: 12px;
    float: right;
    text-align: right;
}

.menu-lost-login a {
    color: #fff;
}

.menu-lost-login a:hover {
    color: #07FEEC;
    text-decoration: none;
}

.btn-medium,
.btn-big {
    border: medium none;
    box-shadow: 0px 2px 2px 0px #000;
    text-shadow: 0px 1px 1px #333;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-medium {
    font-weight: 400;
    font-size: 26px;
    padding: 2px 10px;
}

.btn-big {
    font-weight: 400;
    font-size: 34px;
    padding: 12px 34px;
}

.input-error {
    color: #E4442C;
    font-weight: 700;
    line-height: 2;
}

/*-----------------------------------------------*/
/*-------------------FOOTER----------------------*/
/*-----------------------------------------------*/

#footer {
    border-top: 1px solid #02AFFF;
    background-color: #070707;
    width: 100%;
    height: 245px;
}

#footer .container {
    overflow: auto;
}

#footer .logo {
    float: left;
    width: 200px;
    height: 115px;
    background: url("../imgs/erezia.png") no-repeat;
    background-size: 200px 104px;
    margin: 45px 0 0 40px
}

#footer .menu {
    width: 900px;
    height: 150px;
    padding: 10px 0 0 90px;
    text-align: left;
    position: absolute;
    display: inline;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    color: #419BE6;
}

#footer .menu ul {
    padding: 20px;
    margin-top: -5px;
    float: left;
    list-style-type: none;
}

#footer .menu li {
    font-size: 13px;
    color: #818181;
    cursor: pointer;
    transition: color ease 0.25s;
    text-transform: uppercase;
    padding: 2px 0;
}

#footer .menu li a {
    color: #818181;
}

#footer .menu li a:hover {
    color: #FFF;
    text-decoration: none;
}

#footer .menu li:first-child {
    color: #DEDEDE;
    font-size: 18px;
    width: 130px;
    border-bottom: 2px solid #b1b1b1;
    margin-bottom: 5px;
}

#footer .menu li:hover {
    color: #FFF;
}

#footer .copyright {
    text-align: center;
    color: #838383;
    font-size: 11px;
    margin-top: 30px;
}

#footer .copyright a {
    color: #838383;
}

#footer .copyright a:hover {
    color: #fff;
    text-decoration: none;
}

#footer .pegi {
    position: absolute;
    left: 50%;
    margin: -30px 0 0 300px;
}
